#This file is a sample tfvars input for this module. 
#Copy this file to your root module, populate the file with the target deployment values and remove the .sample extension.

#deployment level variables
prefix                  = "SDDC1"
region                  = "Southeast Asia"

#sddc specific variables
sddc_sku                = "av36"
management_cluster_size = 3
avs_network_cidr        = "192.168.0.0/22"
hcx_enabled             = true
hcx_key_names           = ["keyname1", "keyname2"]
email_addresses         = ["test1@test.com","test2@test.com"]
internet_enabled        = false

expressroute_gateway_sku = "Standard"

vnet_address_space_transit_hub = ["10.110.0.0/16"]
subnets_transit_hub = [
    {
    name           = "AzureBastionSubnet",
    address_prefix = ["10.110.0.0/24"]
    },
    {
    name           = "JumpBoxSubnet"
    address_prefix = ["10.110.1.0/24"]
    }
]

firewall_internal_vip = "10.100.1.4"



tags = {
  environment = "Dev"
  CreatedBy   = "Terraform"
}

telemetry_enabled = true
